*{
    margin: 0%;
    padding: 0%;
}
body{
    padding: 30px 30px;
    background-color: rgb(17, 16, 31);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.country {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    max-width: 800px;
    display: flex;
    margin-top: 50px;
    margin: auto;flex-direction: column;
    color: white;
    margin-bottom: ;
}
.country{
    img{
    width: 35%;
    height: auto;
    display: flex;
    margin: auto;
    }
    h2{
        font-size: 48px;
        margin: 10px 10px;
    }
    p{
        font-size: 23px;
        margin: 5px;
    }
   
}
#countryName{
    display: flex;
    margin: auto;
    height: 50px;
    width: auto;
    margin-top: 0px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 17px;
    background-color: rgb(13, 13, 38);
    border: none;
    color: white;
}
button{
    display: flex;
    height: 50px;
    width: 120px;
    margin: auto;
    margin-top: 30px;
    padding: 13px 22px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    background: linear-gradient(45deg,white , rgb(181, 148, 87));
}
.my_p{
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 200px;
}
.input{
    padding: 8px;
    background-color: red;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(31, 31, 67);
    img{
        height: 40px;
        margin: auto;
        display: flex;
    }
}
.connect_with_your{
    width: auto;
    color: black;
    height: 45px;
    padding: 10px 20px;
    width: auto;
    text-decoration: none;
    font-size: 18px;
    background: linear-gradient(45deg , white , rgb(184, 151, 92));
    border-radius: 10px;
    
}
#maps{
    height: 300px;
}
/* .input.active{
    pad: 11px;
    width: 633px;
} */