*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(17, 16, 31);
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.signup{
    height: auto;
    width: 530px;
    background-image: url(signup.jpeg);
    background-size: cover;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    /* padding-bottom: 50px; */
    border-radius: 20px;
    .blur{
        height: 100%;
        width: 100%;
        background-color: rgba(26, 28, 122, 0.582);
        border-radius: 20px;
        backdrop-filter: blur(2px);
        padding-top: 30px;
        display: flex;
        padding-bottom: 50px;
        flex-direction: column;
        h1{
            color: white;
            text-align: center;
            margin-bottom: 50px;
        }
        input{
            height: 50px;
            width: 70%;
            margin: 15px 10%;
            padding-left: 50px;
            font-size: 17px;
            border-radius: 20px;
            border: none;
            border: 1px solid black;
        }
        select{
            height: 40px;
            margin-left: 60px;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }
        button{
            height: 50px;
            width: 200px;
            margin-left: 28%;
            /* margin: auto; */
            margin-top: 50px;
            border-radius: 20px;
            color: white;
            background: linear-gradient(150deg,gold , rgb(96, 94, 94));
            font-size: 17px;
            border: 2px solid white;
            cursor: pointer;
        }
        img{
            height: 100px;
            width: 250px;
            margin-left: 22%;
            margin-top: 0px;
            margin-bottom: 50px;
        }
    }
}
