*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(17, 16, 31);
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(landing.jpeg); */
    
}
.navbar{
    /* position: fixed; */
    height: auto;
    padding-bottom: 10px;
    width: 100%;
    backdrop-filter: blur(20px);   
    border-bottom: 0.5px solid rgb(52, 51, 51);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .logo{
        height: 50px;
        width: auto;
        img{
            object-fit: contain;
            height: 40px;
            margin: 5px 10px;
            cursor: pointer;
        }
    }
    a{
        color: white;
        text-decoration: none;
        margin: 15px 30px;
        &:hover{
            border-bottom: 1px solid white;
        }
    }
    input{
        background-color: rgb(23, 23, 56);
        height: 35px;
        width: 24%;
        margin: 10px 10px;
        border: none;padding-left: 20px;
        border-radius: 10px;
        color: white;
    }
    .profile_photo{
        border-radius: 50%;
        height: 40px;
        margin-top: 10px;
        margin-left: 100px;
        cursor: pointer;
    }
    .profile_about{
        height: 0;
        width: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
       
    }
    .profile_about.active{
        height: auto;
        width: 300px;
        background-color: rgb(23, 23, 56);
        position: fixed;
        border-radius: 10px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        a{
            color: grey;
            margin: 10px 10px;
            /* border-bottom: 1px solid white; */
            font-size: 20px;
            margin-left: 20px;
            i{
                margin-left: 10px;
            }
        }
    }

}
.landing_p{
    padding: 20px 20px;
    display: flex;
    margin: 5px 5px;
    border-radius: 10px;
    height: 700px;
    flex-wrap: wrap;
    width: auto;
    background-image: url(landing.jpeg);
    background-size: cover;
    .but1{
        height: 100px;
        width: 230px;
        border-radius: 50px;
        backdrop-filter: blur(20px);
        background-color: rgba(26, 20, 69, 0.363);
        font-size: 20px;
        font-weight: 600;
        color: white;
        margin: auto;
        cursor: pointer;
        border: 1px solid white;
    }
    .login_page{
        height: 70%;
        width: 500px;
        display: flex;
        margin: auto;
        position: relative;
        flex-direction: column;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        background-color: rgba(22, 29, 69, 0.358);
        h1{
            color: white;
            text-align: center;
            margin-top: 10px;
        }
        img{
            height: 60px;
            width: 160px;
            margin-left: 30%;
            margin-top: 0px;
        }
        input{
            height: 50px;
            width: 70%;
            margin: 5% 10% ;
            padding-left: 30px;
            border-radius: 20px;
            font-size: 15px;
            border: none;
        }
        button{
            height: 50px;
            width: 130px;
            margin-left: 35%;
            margin-top: 20px;
            border-radius: 20px;
            border: none;
            background-color: rgba(181, 66, 181, 0.457);
            backdrop-filter: blur(20px);
            color: white;
            font-size: 15px;
            cursor: pointer;
        }
        a{
            color: white;
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
    }

}
.services{
    height: 800px;
    width: auto;
    /* background-color: #fff; */
    .fr1{
        height: 200px;
        width: 400px;
        background-color: red;
    }
    .service_one{
        height: auto;
        width: 95%;
        margin: 0px 20px;
        background-color: rgb(39, 49, 67);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .image{
            height: 400px;
            width: 400px;
            background-color: black;
            border-radius: 20px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        .s_data{

        }
    }
}
@media (max-width: 900px) {
   button{
    height: 67px;
    width: 180px;
    background-color: red;
   }
   
}
